In [11]:
from zipfile import ZipFile
import pandas as pd

In [3]:
rotten = ZipFile('/home/kaiant/Downloads/prasert-rotten-tomatoes-top-movies-by-genre.zip')

In [5]:
rotten.filelist

In [10]:
movies = rotten.open('prasert-rotten-tomatoes-top-movies-by-genre/rotten_tomatoes_top_movies_2019-01-15.csv')

In [12]:
m = pd.read_csv(movies)

In [17]:
m.sort_values('RatingTomatometer', ascending=False)

,Rank,Title,RatingTomatometer,No. of Reviews,Genres
256,57,The Taste of Others (Le goût des autres) (2000),100,58,art_house|international
684,85,Battleship Potemkin (1925),100,45,drama
112,13,Toy Story (1995),100,81,animation
901,2,Singin' in the Rain (1952),100,50,musical|performing_arts
673,74,The Last Picture Show (1971),100,51,drama
...,...,...,...,...,...
1514,52,The Honeymooners (2005),13,111,television
1588,73,Jonah Hex (2010),12,147,western
1515,53,From Justin To Kelly (2003),10,63,television
1462,63,Playing for Keeps (2012),5,88,sports|fitness
1589,74,Texas Rangers (2001),2,51,western

In [16]:
m.sort_values?

Signature:
m.sort_values(
    by,
    axis=0,
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last',
    ignore_index=False,
)
Docstring:
Sort by the values along either axis.

Parameters
----------
        by : str or list of str
            Name or list of names to sort by.

            - if `axis` is 0 or `'index'` then `by` may contain index
              levels and/or column labels.
            - if `axis` is 1 or `'columns'` then `by` may contain column
              levels and/or index labels.

            .. versionchanged:: 0.23.0

               Allow specifying index or column level names.
axis : {0 or 'index', 1 or 'columns'}, default 0
     Axis to be sorted.
ascending : bool or list of bool, default True
     Sort ascending vs. descending. Specify list for multiple sort
     orders.  If this is a list of bools, must match the length of
     the by.
inplace : bool, default False
     If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
     Choice of sorting algorithm. See also ndarray.np.sort for more
     information.  `mergesort` is the only stable algorithm. For
     DataFrames, this option is only applied when sorting on a single
     column or label.
na_position : {'first', 'last'}, default 'last'
     Puts NaNs at the beginning if `first`; `last` puts NaNs at the
     end.
ignore_index : bool, default False
     If True, the resulting axis will be labeled 0, 1, …, n - 1.

     .. versionadded:: 1.0.0

Returns
-------
sorted_obj : DataFrame or None
    DataFrame with sorted values if inplace=False, None otherwise.

Examples
--------
>>> df = pd.DataFrame({
...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2': [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],
... })
>>> df
    col1 col2 col3
0   A    2    0
1   A    1    1
2   B    9    9
3   NaN  8    4
4   D    7    2
5   C    4    3

Sort by col1

>>> df.sort_values(by=['col1'])
    col1 col2 col3
0   A    2    0
1   A    1    1
2   B    9    9
5   C    4    3
4   D    7    2
3   NaN  8    4

Sort by multiple columns

>>> df.sort_values(by=['col1', 'col2'])
    col1 col2 col3
1   A    1    1
0   A    2    0
2   B    9    9
5   C    4    3
4   D    7    2
3   NaN  8    4

Sort Descending

>>> df.sort_values(by='col1', ascending=False)
    col1 col2 col3
4   D    7    2
5   C    4    3
2   B    9    9
0   A    2    0
1   A    1    1
3   NaN  8    4

Putting NAs first

>>> df.sort_values(by='col1', ascending=False, na_position='first')
    col1 col2 col3
3   NaN  8    4
4   D    7    2
5   C    4    3
2   B    9    9
0   A    2    0
1   A    1    1
File:      ~/.local/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method